@font-face {
    font-family: 'Roboto';
    src: local('Roboto-Light'), url('./fonts/Roboto/Roboto-Light.ttf');
}

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
    font-family: 'Roboto', sans-serif;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

textarea, input, button { 
	outline: none;
}

* {
	box-sizing: border-box;
}

.link {
    transition: all .5s ease-out;
    text-decoration: none;
    color: #4391ff;
}

.link:hover {
    color: #71AAFF;
}
