
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
}

.text {
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

.link {
    composes: link from '../../assets/style.css';
}
