
.logoContainer {
    width: 256px;
    height: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-top: 10px;
    width: 100px;
    transition: all .5s ease-out;
}

.logoContainer:hover .logo {
    width: 200px;
    height: auto;
}

.loader, .error {
    margin-top: 25%;
    margin: 0 auto;
    text-align: center;
}

.videos {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    flex-wrap: wrap;
    padding: 0px 0px;
}

.video {
    width: 48em;
    height: 27em;
}

.button {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    padding: 4px 9px 3px;
    width: 50px;
    height: 50px;
    line-height: 30px;
    border-radius: 50%;
    border: 1px #ddd solid;
    background: none;
    cursor: pointer;
    transition: all 450ms ease-out;
}

.button:hover {
    background-color: #ddd;
}

@media only screen and (min-device-width: 720px) {
    .video {
        width: 320px;
        height: 180px;
    }

    .videos {
        padding: 0px 40px;
    
    }
}

@media only screen and (min-device-width: 1024px) {
    .video {
        width: 420px;
        height: 270px;
    }

    .videos {
        padding: 0px 50px;
    
    }
}